<ion-content [fullscreen]="true" class="ion-padding p-0 custom-toolbar bg-gradient-to-t from-red-200 to-slate-50">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">PIN</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container" class="">
    <h1 class="text-2xl font-bold text-black text-center p-2">INGRESA TU PIN</h1>
    <ion-item>
      <ion-input 
        type="password" 
        [(ngModel)]="pin" 
        maxlength="4" 
        placeholder="••••" 
        inputmode="numeric" 
        (keydown)="handleKeyDown($event)"
      ></ion-input>
    </ion-item>
    <ion-button expand="block" (click)="submitPin()" (keydown)="handleKeyDown($event)" class="ion-margin-top">
      Enviar
    </ion-button>
  </div>
</ion-content>